::view-transition {
   background-color: rgb(0 0 0 / 25%);


   &-old, &-new {
      animation-fill-mode: both;
   }
}

html {
	$fonts: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Oxygen, Ubuntu,
		Cantarell, "Meiryo", "Open Sans", "Helvetica Neue", sans-serif;
	font-family: $fonts;
	height: 100%;

	overflow-y: scroll;

	@media (max-width: 768px) {
		overflow-y: auto;
	}

	// Disables overflow when there is at least one open modal.
	&:has([data-modal-id]) {
		overflow: hidden;
      overflow-y: scroll;
		margin-right: 1rem; // to prevent layout shift because of disappearing scrollbar
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
	padding: none;
	margin: none;
}

label {
	user-select: none;
}
