html {
	$fonts: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Oxygen, Ubuntu,
		Cantarell, "Meiryo", "Open Sans", "Helvetica Neue", sans-serif;
	font-family: $fonts;
	height: 100%;

	overflow-y: scroll;

	@media (max-width: 768px) {
		overflow-y: auto;
	}

   scrollbar-gutter: stable;
   overflow-y: scroll;

	// Disables overflow when there is at least one open modal.
	&:has([data-modal-id]) {
		overflow: hidden;
		margin-right: 1rem; // to prevent layout shift because of disappearing scrollbar
	}

   overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
	padding: none;
	margin: none;
}

label {
	user-select: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0
}