services:
  store:
    image: redis
    container_name: track-store
    command: /bin/sh -c "redis-server /usr/local/etc/redis/redis.conf --appendonly yes --requirepass $REDIS_PASS"
    volumes:
      - ./redis-data:/data
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
  database:
    image: postgres:14-alpine
    container_name: track-database
    environment:
      - POSTGRES_PASSWORD=$PG_PASS
      - POSTGRES_USER=$PG_USER
      - POSTGRES_DB=$PG_DB
    volumes:
      - ./pg-data:/var/lib/postgresql/data
      #  - ./database-setup:/docker-entrypoint-initdb.d
      #    I'm not sure if this works. If we try to run the containers on a
      #    new machine and it doesn't, this is the place to check. :) Can
      #    always move the scripts from /server to the old ./database-setup
      #    folder (see commented line above) to initialize the database
      #    anyway, so it's not a big deal. Don't forget to do the same for the
      #    test-database container below!
      - ../server/src/db/scripts:/docker-entrypoint-initdb.d
      - ./database-backup:/psql-backups
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]

  server:
    container_name: track-server
    build:
      context: ../
      dockerfile: server/Dockerfile
    volumes:
      - ../:/track
      - ../node_modules:/track/node_modules
    depends_on:
      - database
      - store
    ports:
      - "5000:5000"
    command: npm run dev
  client:
    container_name: track-client
    build:
      context: ../
      dockerfile: client/Dockerfile
    volumes:
      - ../:/track
      - ../node_modules:/track/node_modules
    ports:
      - "5175:5175"
      - "4173:4173"
      - "6016:6016"
    command: npm run dev
  test-database:
    container_name: track-test-database
    image: postgres:14-alpine
    environment:
      - POSTGRES_PASSWORD=$PG_PASS
      - POSTGRES_USER=$PG_USER
      - POSTGRES_DB=$PG_TEST_DB
    volumes:
      - ./pg-data-test:/var/lib/postgresql/data
      - ../server/src/db/scripts:/docker-entrypoint-initdb.d
      - ./test-database-backup:/psql-backups
    expose:
      - "5434"
    ports:
      - "5434:5434"
    command: ["postgres", "-p 5434", "-c", "log_statement=all"]
